<!DOCTYPE html>
<html lang="pt-br">
  <head th:replace="~{ base :: head('Contratos') }"></head>
  <body>
      <div th:replace="~{ base :: header }"></div>
      <div class="container" style="margin-bottom: 5em">
        <div th:replace="~{base :: titleOutdoor('Contratos')}"></div>
        <div class="mb-10" style="margin-top: 10px; margin-bottom: 20px; float: right;">
          <ul class="subtitles">
            <li class="text-success-emphasis">ATIVO<div class="circle bg-success-subtle"></div></li>
            <li class="text-warning-emphasis">AGUARDANDO ASSINATURAS<div class="circle bg-warning-subtle"></div></li>
            <li class="text-danger-emphasis">CANCELADO<div class="circle bg-danger-subtle"></div></li>
            <li class="text-body-emphasis">EXPIRADO<div class="circle bg-dark-subtle"></div></li>
          </ul>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Aluno</th>
            <th scope="col">Responsável</th>
            <th scope="col">Escola</th>
            <th scope="col">Início do Contrato</th>
            <th scope="col">Fim do Contrato</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Ano</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody th:each="contractResponseDto : ${contractsResponseDto}">
          <tr>
            <th scope="row"><a th:text="${contractResponseDto.id}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></th>
            <td><a th:text="${contractResponseDto.studentName}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <td><a th:text="${contractResponseDto.responsibleName}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <td><a th:text="${contractResponseDto.schoolName}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <td><a th:text="${contractResponseDto.startContract}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <td><a th:text="${contractResponseDto.endContract}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <td><a th:text="${contractResponseDto.amount}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <td><a th:text="${contractResponseDto.year}" th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            <th:block th:switch="${contractResponseDto.status}">
              <td th:case="'ATIVO'" class="table-success"><a th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
              <td th:case="'CANCELADO'" class="table-danger"><a th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
              <td th:case="'AGUARDANDO_ASSINATURAS'" class="table-warning"><a th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
              <td th:case="'EXPIRADO'" class="table-secondary"><a th:href="@{/contract-details/{id}(id=${contractResponseDto.id})}"></a></td>
            </th:block>
          </tr>
          </tbody>
        </table>
      </div>
      <footer th:replace="~{ base :: footer }"></footer>
  </body>
</html>